body {
  width: 90%;
  margin: auto;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 150%;
}

a {
  color: black;
  /* padding: 0.5em 0.5em 0.5em 0.5em; */
}

li {
  padding-left: 0.5em;
  padding-bottom: 0.3em;
}

#meinTitel {
  /* position: fixed; */
  background-color: goldenrod;
  color: black;
  padding: 40px;
  /* text-align: center; */
}

figure {
  position: relative;
  margin: 0em;
  padding: 10px;
  width: 30%;
  background: white;
  /* border: 1px solid gainsboro; */
}

figcaption {
  padding: 10px;
  text-align: center;
  font-size: 70%;
  width: 60%;
}

#footer {
  position: fixed;
  bottom: 0;
  width: 90%;
  height: 2em;
  background-color: goldenrod;
  color: black;
  text-align: center;
  padding-bottom: 10px;
  font-size: 50%;
}

#klein {
  font-size: 50%;
}

#text {
  padding: 1cm;
  width: 70%;
}

#space {
  color: white;
  background-color: white;
}

.button {
  background-color: goldenrod;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  margin: 4px 2px;
  cursor: pointer;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 100%;
}

#antwort {
  visibility: hidden;
  font-weight: bold;
}

#hinweis {
  font-size: 50%;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 0;
  height: 0;
  overflow: hidden;
}

.video-container iframe,
.video-container video,
.video-container object,
.video-container embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* CSS für die Karten */
.flip-box {
  background-color: transparent;
  width: 50%;
  height: 100px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-box-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-box:active .flip-box-inner {
  transform: rotateY(180deg);
}

.flip-box-front,
.flip-box-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-box-front {
  background-color: goldenrod;
  color: black;
}

.flip-box-back {
  background-color: lightskyblue;
  color: black;
  transform: rotateY(180deg);
}
